#### Domain Analysis
### Unsupported Cell Type. Double-Click to inspect/edit the content.

In [39]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [40]:
#Loading the data
data = pd.read_csv('Advertising.csv')

In [41]:
# Call the dataframe and do basic checks
data.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [42]:
data.tail()

     Unnamed: 0     TV  Radio  Newspaper  Sales
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

In [43]:
data.describe()

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [44]:
data.info()
# no missing values in the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

## Exploratory Data Analysis

In [46]:
data.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [47]:
# step 1 Univariate Analysis
# Analyzing TV
sns.displot(x=data.TV, kde=True)

In [48]:
# Analyzing Radio
sns.histplot(x=data.Radio, kde=True)

In [49]:
# Analyzing Newspaper
sns.histplot(x=data.Newspaper, kde=True)
# BY looking at below plot we can say that there are less than 10 months when the marketing cost was high

In [50]:
# Step 2 Bivariate Analysis
## This step is performed when inputs and output are known.
## 1st variable will be input
## 2nd variables will be output/target variable.

In [51]:
data.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [52]:
# Analyzing TV and Sales
sns.relplot(x='TV', y='Sales', data=data)
# The more marketing on TV is leading to more sales in the product.

In [53]:
plt.plot(data.TV)
plt.plot(data.Sales)

In [54]:
# Analyzing Radio adn Sales 
sns.relplot(x='Radio', y='Sales', data=data)
# radio advertisment are not showing much tred for the sales of product

In [70]:
# Analyzing Newspaper and Sales
sns.relplot(x='Newspaper',y='Sales', data=data)
# NEwspaper advertisments are not showing much trend for the sales of products.

In [72]:
# Step 3 Multivariate Analyzing
sns.pairplot(data)

### Data Preprocessng and FEature Engineering

In [75]:
# Step 1 - Finding missing values
data.isnull().sum()

Unnamed: 0    0
TV            0
Radio         0
Newspaper     0
Sales         0
dtype: int64

In [77]:
# Step 2- Converting Categorical data to numerical

In [79]:
# Step 3 Checking the outlier
sns.boxplot(x='TV', data=data)

In [81]:
sns.boxplot(x='Radio', data=data)

In [83]:
sns.boxplot(x='Newspaper', data=data)

In [ ]:
# Step 4 Scaling the continous variable
# Intentionally skipping this step

In [85]:
# Step 5 Transformation
# Intentionally skiping this step

In [87]:
# step6 balancing the data 
# This step is performed specially for classification

In [89]:
data.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

## Featire Selection

In [92]:
# Step 1 Dropping the unwanted variables
l1=['Unnamed: 0']
data.drop(l1,axis=1,inplace=True)

In [94]:
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [96]:
# step 2 checking the correlation
sns.heatmap(data.drop('Sales', axis=1).corr(),annot=True)

In [98]:
data.corr()

                 TV     Radio  Newspaper     Sales
TV         1.000000  0.054809   0.056648  0.782224
Radio      0.054809  1.000000   0.354104  0.576223
Newspaper  0.056648  0.354104   1.000000  0.228299
Sales      0.782224  0.576223   0.228299  1.000000

## MOdel Creation

In [101]:
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [105]:
# step 1 INdependent and dependent variables creation
X=data[['TV','Radio','Newspaper']] ##  X varibale contains all inputs
y=data.Sales ## y is output

In [107]:
X

        TV  Radio  Newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [109]:
y

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: Sales, Length: 200, dtype: float64

In [115]:
# step 2 Training and testing data creation
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=1)

In [117]:
X_train

        TV  Radio  Newspaper
108   13.1    0.4       25.6
107   90.4    0.3       23.2
189   18.7   12.1       23.4
14   204.1   32.9       46.0
56     7.3   28.1       41.4
..     ...    ...        ...
133  219.8   33.5       45.1
137  273.7   28.9       59.7
72    26.8   33.0       19.3
140   73.4   17.0       12.9
37    74.7   49.4       45.7

[160 rows x 3 columns]

In [119]:
X_test

        TV  Radio  Newspaper
58   210.8   49.6       37.7
40   202.5   22.3       31.6
34    95.7    1.4        7.4
102  280.2   10.1       21.4
184  253.8   21.3       30.0
198  283.6   42.0       66.2
95   163.3   31.6       52.9
4    180.8   10.8       58.4
29    70.6   16.0       40.8
168  215.4   23.6       57.6
171  164.5   20.9       47.4
18    69.2   20.5       18.3
11   214.7   24.0        4.0
89   109.8   47.8       51.4
110  225.8    8.2       56.5
118  125.7   36.9       79.2
159  131.7   18.4       34.6
35   290.7    4.1        8.5
136   25.6   39.0        9.3
59   210.7   29.5        9.3
51   100.4    9.6        3.6
16    67.8   36.6      114.0
44    25.1   25.7       43.3
94   107.4   14.0       10.9
31   112.9   17.4       38.6
162  188.4   18.1       25.6
38    43.1   26.7       35.1
28   248.8   27.1       22.9
193  166.8   42.0        3.6
27   240.1   16.7       22.9
47   239.9   41.5       18.5
165  234.5    3.4       84.8
194  149.7   35.6        6.0
177  170.2    7.8       35.2
176  248.4   30.2       20.3
97   184.9   21.0       22.0
174  222.4    3.4       13.1
73   129.4    5.7       31.3
69   216.8   43.9       27.2
172   19.6   20.1       17.0

In [121]:
y_train

108     5.3
107     8.7
189     6.7
14     19.0
56      5.5
       ...
133    19.6
137    20.8
72      8.8
140    10.9
37     14.7
Name: Sales, Length: 160, dtype: float64

In [123]:
# step 3 Creatin model
from sklearn.linear_model import LinearRegression
LR = LinearRegression() # object creation
LR.fit(X_train,y_train) # training of linear regression
y_predict=LR.predict(X_test)

In [125]:
y_test #actual values

58     23.8
40     16.6
34      9.5
102    14.8
184    17.6
198    25.5
95     16.9
4      12.9
29     10.5
168    17.1
171    14.5
18     11.3
11     17.4
89     16.7
110    13.4
118    15.9
159    12.9
35     12.8
136     9.5
59     18.4
51     10.7
16     12.5
44      8.5
94     11.5
31     11.9
162    14.9
38     10.1
28     18.9
193    19.6
27     15.9
47     23.2
165    11.9
194    17.3
177    11.7
176    20.2
97     15.5
174    11.5
73     11.0
69     22.3
172     7.6
Name: Sales, dtype: float64

In [127]:
y_predict # values predicted by model

array([21.73577184, 16.45693776,  7.65993185, 17.89202679, 18.67730671,
       23.86271904, 16.33623628, 13.45649226,  9.177296  , 17.36056228,
       14.4677995 ,  9.85697601, 17.26057027, 16.71866935, 15.09530285,
       15.58923732, 12.45188167, 17.27925151, 11.0944114 , 18.06889853,
        9.33433055, 12.91345761,  8.7842804 , 10.46670654, 11.40303174,
       15.03104665,  9.78479388, 19.46028647, 18.22954934, 17.1958903 ,
       21.60304218, 14.71901407, 16.29205532, 12.36432281, 19.98831261,
       15.37556411, 13.96678297, 10.06809496, 20.97197274,  7.45877832])

In [129]:
#step 4 Model Evalution
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
r2score=r2_score(y_test,y_predict)

In [131]:
r2score

0.8927605914615384

In [133]:
X_test.shape

(40, 3)

In [135]:
## calculation of adjusted r2 score
adjusted_r2= 1-(1-0.90)*(40-3)/(40-3-1)
adjusted_r2

0.8972222222222223

In [139]:
import math
print(mean_squared_error(y_test, y_predict))
print(math.sqrt(mean_squared_error(y_test,y_predict))) # root mean squared error

1.9918855518287901
1.4113417558581587

In [141]:
print(mean_absolute_error(y_test,y_predict))

1.0402154012924716